.DialogPreview {
  padding: 5px;
  border-bottom: 1px solid var(--color-dialog-border);
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  // margin-top: 5px;
  justify-content: space-between;
  // border-radius: 10px;
  &:hover {
    background: var(--color-dialog-bg-hover);
  }
  &__avatar {
    flex: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
  }
  &__data {
    background: inherit;
    flex: 90%;
    &__name {
      background: inherit;
      display: flex;
      justify-content: space-between;
      h3 {
        background: inherit;
      }
      p {
        background: inherit;
        font-size: 13px;
      }
    }
    &__lastMessage {
      background: inherit;
      display: flex;
      // justify-content: center;
      align-items: center;
      p {
        position: relative;
        font-size: 15px;
        background: inherit;
        margin-left: 10px;
      }
    }
  }
  &__statusMessage {
    background: inherit;
    flex: 5%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      background: var(--color-button);
      // padding: 2px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-bg);
    }
  }
}
.Unread {
  background: var(--color-dialog-bg-unread);
}
