[data-theme='ligth'] {
  --color-bg: hsl(0, 0%, 98%);
  --color-font: hsla(0, 0%, 0%, 0.78);
  --color-link: hsla(227, 58%, 14%, 0.7);
  --color-link-hover: hsl(227, 57%, 14%);
  --color-border-field: hsla(0, 93%, 48%, 0);
}
