@import './base/theme', './base/normalize';
// Pages
@import './pages/authPage', './pages/home';
// Components
@import './components/button', './components/form', './components/field', './components/avatar',
  './components/navigation', './components/profile', './components/peopleSearch',
  './components/setting', './components/option', './components/messages',
  './components/dialogPreview';
.App {
  width: inherit;
  height: inherit;
  background: inherit;
}
